{% extends 'base.html' %}

{% block content %}

<div class="ranking-layout">

    <div class="ranking-header">

        <p class="mini-title">

            Leaderboard Global

        </p>

        <h1>

            Ranking {{ torneo.nombre }}

        </h1>

    </div>

    <div class="podium {% if podio_total > 3 %}podium-multi{% endif %}">

        {% for jugador in segundo %}

        <div class="podium-card silver">

            <div class="medal">

                🥈

            </div>

            <h2>

                {{ jugador.0 }}

            </h2>

            <p>

                {{ jugador.1 }} pts

            </p>

        </div>

        {% endfor %}

        {% for jugador in primero %}

        <div class="podium-card gold">

            <div class="medal">

                🥇

            </div>

            <h2>

                {{ jugador.0 }}

            </h2>

            <p>

                {{ jugador.1 }} pts

            </p>

        </div>

        {% endfor %}

        {% for jugador in tercero %}

        <div class="podium-card bronze">

            <div class="medal">

                🥉

            </div>

            <h2>

                {{ jugador.0 }}

            </h2>

            <p>

                {{ jugador.1 }} pts

            </p>

        </div>

        {% endfor %}

    </div>

    <div class="ranking-table-box">

        <table class="tabla-ranking-premium">

            <thead>

                <tr>

                    <th>#</th>

                    <th>Jugador</th>

                    <th>Puntos</th>

                </tr>

            </thead>

            <tbody>

                {% for jugador in resto %}

                <tr>

                    <td class="posicion">

                        {{ forloop.counter|add:podio_total }}

                    </td>

                    <td>

                        {{ jugador.0 }}

                    </td>

                    <td class="total">

                        {{ jugador.1 }}

                    </td>

                </tr>

                {% empty %}

                <tr>

                    <td
                        colspan="3"
                        style="
                            text-align:center;
                            color:#64748b;
                            padding:34px;
                        "
                    >

                        Aún no hay más participantes

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}