{% extends 'base.html' %}

{% block content %}

<div class="ranking-layout">

    <div class="ranking-header">

        <p class="mini-title">

            Leaderboard Global

        </p>

        <h1>

            Ranking Mundial

        </h1>

    </div>

    <div class="podium">

        {% if top3|length > 1 %}

        <div class="podium-card silver">

            <div class="medal">

                🥈

            </div>

            <h2>

                {{ top3.1.0 }}

            </h2>

            <p>

                {{ top3.1.1 }} pts

            </p>

        </div>

        {% endif %}

        {% if top3|length > 0 %}

        <div class="podium-card gold">

            <div class="medal">

                🥇

            </div>

            <h2>

                {{ top3.0.0 }}

            </h2>

            <p>

                {{ top3.0.1 }} pts

            </p>

        </div>

        {% endif %}

        {% if top3|length > 2 %}

        <div class="podium-card bronze">

            <div class="medal">

                🥉

            </div>

            <h2>

                {{ top3.2.0 }}

            </h2>

            <p>

                {{ top3.2.1 }} pts

            </p>

        </div>

        {% endif %}

    </div>

    <div class="ranking-table-box">

        <table class="tabla-ranking-premium">

            <thead>

                <tr>

                    <th>#</th>

                    <th>Jugador</th>

                    <th>Puntos</th>

                </tr>

            </thead>

            <tbody>

                {% for jugador in resto %}

                <tr>

                    <td class="
                        {% if forloop.counter == 1 %}
                            first-place
                        {% elif forloop.counter == 2 %}
                            second-place
                        {% elif forloop.counter == 3 %}
                            third-place
                        {% endif %}
                    ">

                        {{ forloop.counter|add:3 }}

                    </td>

                    <td>

                        {{ jugador.0 }}

                    </td>

                    <td class="total">

                        {{ jugador.1 }}

                    </td>

                </tr>

                {% empty %}

                <tr>

                    <td
                        colspan="3"
                        style="
                            text-align:center;
                            color:#64748b;
                            padding:34px;
                        "
                    >

                        Aún no hay más participantes

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}