{% extends 'base.html' %}

{% block content %}

<div class="reglamento-layout">

    <div class="auth-card regulamento-card">

        <h1
            class="reglamento-title"

            style="
                margin-bottom:30px;
                text-align:center;
            "
        >

            Reglamento — {{ torneo.nombre }}

        </h1>

        <p style="text-align:center; color:#94a3b8;">

            El reglamento de este torneo aún no ha sido publicado.

        </p>

    </div>

</div>

{% endblock %}
