{% extends 'base.html' %}

{% block content %}

<div class="dashboard">

    <!-- HERO -->

   <div class="dashboard-hero">

        <div class="hero-mini">

            {% if jornada_activa %}
                JORNADA {{ jornada_activa.numero }} ABIERTA
            {% else %}
                QUINIELA CERRADA
            {% endif %}

        </div>

        <h1>

            Hola, {{ request.user.perfil.nick }} 👋

        </h1>

        <p>

            {% if total_pronosticos > 0 %}
                Tienes {{ total_pronosticos }} pronósticos enviados.
                Tu posición actual es #{{ posicion }}.
            {% else %}
                Aún no tienes pronósticos.
                ¡Entra a la quiniela y elige tus resultados!
            {% endif %}

        </p>

        <a href="
            {% if jornada_activa %}
                /jornada/{{ jornada_activa.numero }}/
            {% else %}
                /quiniela/
            {% endif %}
        " class="hero-btn">

            {% if jornada_activa %}
                Ir a Jornada {{ jornada_activa.numero }}
            {% else %}
                Ver Quiniela
            {% endif %}

        </a>

    </div>

    <!-- STATS -->

    <div class="stats-grid">

        <div class="stat-card">

            <div class="stat-icon">

                🏆

            </div>

            <h2>

                {{ posicion }}

            </h2>

            <p>

                Ranking Global

            </p>

        </div>

        <div class="stat-card">

            <div class="stat-icon">

                🎯

            </div>

            <h2>

                {{ total_aciertos }}

            </h2>

            <p>

                Aciertos

            </p>

        </div>

        <div class="stat-card">

            <div class="stat-icon">

                ⚽

            </div>

            <h2>

                {{ total_pronosticos }}

            </h2>

            <p>

                Pronósticos

            </p>

        </div>

    </div>

</div>

{% endblock %}