{% extends 'base.html' %}

{% block content %}

<div class="dashboard">

    <!-- HERO -->

    <div class="dashboard-hero">

        <div class="hero-mini">

            JORNADA 1 ABIERTA
        </div>

        <h1>

            Hola, {{ request.user.perfil.nick }} 👋

        </h1>

        <p>

            Ya tienes {{ total_pronosticos }} pronósticos enviados.
            Tu posición actual es #{{ posicion }}.
        </p>

        <a href="{% url 'quiniela' %}" class="hero-btn">

            Continuar Quiniela

        </a>

    </div>

    <!-- STATS -->

    <div class="stats-grid">

        <div class="stat-card">

            <div class="stat-icon">

                🏆

            </div>

            <h2>

                {{ posicion }}

            </h2>

            <p>

                Ranking Global

            </p>

        </div>

        <div class="stat-card">

            <div class="stat-icon">

                🎯

            </div>

            <h2>

                {{ total_aciertos }}

            </h2>

            <p>

                Aciertos

            </p>

        </div>

        <div class="stat-card">

            <div class="stat-icon">

                ⚽

            </div>

            <h2>

                {{ total_pronosticos }}

            </h2>

            <p>

                Pronósticos

            </p>

        </div>

    </div>

</div>

{% endblock %}